@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
}

header {
  background-color: #ffbb00;
  color: #fff;
  padding: 15px;
}

form.create-note {
  width: 480px;
  margin: 10px auto 30px auto;
  border: 2px solid #999;
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-family: inherit;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #888;
}